html {
    font-size: 62.5%;
    min-width: 320px;
}

body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    font-family: "PT Sans";
    position: relative;
}

::-webkit-input-placeholder {
    color: #c5c4c4;
    font-size: 1.4rem;
    font-weight: 400;
}

::-moz-placeholder {
    color: #c5c4c4;
    font-size: 1.4rem;
    font-weight: 400;
}

:-moz-placeholder {
    color: #c5c4c4;
    font-size: 1.4rem;
    font-weight: 400;
}

:-ms-input-placeholder {
    color: #c5c4c4;
    font-size: 1.4rem;
    font-weight: 400;
}

div,
ul {
    box-sizing: border-box;
}

.textInBorder {
    border: 1px solid #e2e2e2;
    background-color: #fff;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    font-weight: 400;
    color: #4d535e;
}

.header {
    width: 940px;
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.logo {
    background: url(img/logo.png);
    width: 256px;
    height: 58px;
    margin-top: 4px;
}

.caption {
    text-align: center;
    font-weight: 400;
    color: #1d9dec;
}

.header > .caption {
    width: 313px;
    height: 30px;
    font-size: 1.4rem;
    margin-top: 18px;
}

.contacts span {
    color: #1d9dec;
    font-size: 2rem;
    font-weight: 700;
}

.contact__button {
    display: block;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 26px;
    color: #fff;
    width: 147px;
    height: 28px;
    box-shadow: 0 2px 0 #d4d4d4;
    border: 1px solid #fff;
    background-image: linear-gradient(to top, #30cf5f 0%, #00b034 100%);
    text-align: center;
    border-radius: 4px;
    margin-top: 7px;
    float: right;
}

.contact__button:active {
    box-shadow: 0 0 7px #999;
}

.nav-static {
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav {
    display: flex;
    justify-content: center;
    width: 940px;
    height: 40px;
    margin: 24px auto 23px auto;
    border: 1px solid #fff;
    background-image: linear-gradient(to top, #2697db 0%, #7db8f2 100%);
    border-radius: 4px;
    position: relative;
}

.nav-responsive {
    display: none;
}

.nav li:first-child {
    margin-left: -40px;
}

.nav li {
    display: inline;
    height: 40px;
}

.menu-item:hover {
    background-image: linear-gradient(to top, #2f9add 0%, #2676a8 100%);
}

.menu-item {
    position: relative;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
    padding: 10px 50px;
    text-decoration: none;
    bottom: 1px;
}

.menu-item-first {
    padding-left: 58px;
}

.menu-item-first:hover {
    border-radius: 4px 0 0 4px;
}

.menu-item-last:hover {
    border-radius: 0 4px 4px 0;
}

#respMenuBtn {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.nav:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 15px;
    left: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.nav:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 15px;
    right: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
}

.wrap {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.wrap > div {
    float: left;
}

.video {
    width: 472px;
    height: 287px;
    position: relative;
    background: #fff url(img/comments.jpg) no-repeat bottom;
    background-size: cover;
}

.video:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 13px;
    left: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.video:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 13px;
    right: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

.date {
    position: relative;
    height: 287px;
}

.date:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 13px;
    left: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.date:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 13px;
    right: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

.date__caption {
    width: 200px;
    height: 70px;
    background-image: linear-gradient(to top, #2697db 0%, #7db8f2 100%);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
}

.date__numbers {
    width: 200px;
    height: 217px;
    color: #4ca5e5;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding-top: 80px;
    background-color: #fff;
}

.date__numbers-big {
    font-size: 11rem;
}

.register {
    width: 236px;
    height: 287px;
    border: 3px solid #fff;
    background-image: linear-gradient(to top, #eaeaea 0%, #fff 37%, #f4f4f4 100%);
    position: relative;
    border-radius: 5px;
}

.register:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 11px;
    left: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.register:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 11px;
    right: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

.register__title {
    width: 199px;
    height: 52px;
    color: #747474;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 24px auto 29px auto;
}

.register__notice {
    font-size: 1rem;
    color: #747474;
    font-weight: 700;
    margin: 5px auto 0 auto;
    width: 190px;
    display: block;
}

.register__notice:before {
    content: '';
    width: 10px;
    height: 12px;
    background: url(img/confidence.png);
    display: block;
    float: left;
    margin: 0 7px 5px 0;
}

.register__name,
.register__phone,
.register__mail {
    display: block;
    width: 190px;
    height: 30px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    outline: none;
    padding: 0 9px 0 9px;
    margin: 0 auto 14px auto;
    box-sizing: border-box;
    color: #888;
}

.register__name:focus,
.register__phone:focus,
.register__mail:focus {
    border: 1px solid #999;
    box-shadow: 0 0 3px #999;
}

.register__submit {
    display: block;
    width: 192px;
    height: 43px;
    box-shadow: 0 2px 0 #d4d4d4;
    border: 1px solid #fff;
    background-image: linear-gradient(to top, #30cf5f 0%, #00b034 100%);
    cursor: pointer;
    outline: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 4px;
    margin: 20px auto 0 auto;
}

.register__submit:active {
    box-shadow: 0 0 7px #999;
}

.underVideo {
    width: 470px;
    font-size: 1.2rem;
}

.underVideo:before,
.underVideo:after {
    content: '';
    position: absolute;
    top: -20px;
    left: calc(47%);
    border: 10px solid transparent;
    border-bottom: 10px solid #e2e2e2;
}

.underVideo:after {
    border-bottom: 10px solid #fff;
    top: -19px;
}

.course {
    width: 236px;
    height: 75px;
    border: 3px solid #fff;
    margin-top: 20px;
    background-color: #fff;
    color: #515151;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 18px;
    border-radius: 5px;
}

.course > div {
    float: left;
    width: 50%;
    height: 17px;
    border-bottom: 1px solid #f0f0f0;
}

.course__caption {
    text-align: center;
    color: #222121;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 16px;
    background-color: #f0f0f0;
    border-bottom: none;
}

.course__price {
    padding-left: 10px;
}

.course__price-name {
    color: #0f6ad5;
    text-decoration: underline;
    padding-left: 0;
}

.title_section,
.slide__name {
    color: #4d535e;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    margin: 30px 0 30px 0;
}

.gray_bg {
    width: 100%;
    height: 106px;
    background: url(img/gray_bg.png) no-repeat;
    background-size: cover;
    margin-bottom: 55px;
}

.facts > span {
    font-size: 2.4rem;
    font-weight: 700;
}

.facts {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 20px;
    height: 58px;
}

.facts:nth-child(1) {
    background: url(img/fact1.png) no-repeat left center;
    padding-left: 70px;
}

.facts:nth-child(2) {
    background: url(img/fact2.png) no-repeat left center;
    padding-left: 60px;
}

.facts:nth-child(3) {
    background: url(img/fact3.png) no-repeat left center;
    padding-left: 40px;
}

.facts:nth-child(4) {
    background: url(img/fact4.png) no-repeat left center;
    padding-left: 75px;
}

.facts:nth-child(5) {
    background: url(img/fact5.png) no-repeat left center;
    padding-left: 60px;
}

.slider_bg {
    width: 100%;
    position: relative;
    border: 3px solid #fff;
    background: #fff url(img/slider_bg.jpg);
    margin-bottom: 55px;
}

.slider_bg:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 11px;
    left: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.slider_bg:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 11px;
    right: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
}

.sliderbox {
    width: 697px;
    height: 234px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.slider {
    width: 697px;
    height: 234px;
    margin: 0 auto;
}

.slide:active,
.slider:focus {
    outline: none;
}

.slide__photo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: #fff url(img/tony_stark.png) no-repeat 0 15px;
}

.slide__name {
    margin: 8px 0 0 0;
}

.slide__containerPhoto {
    width: 200px;
    height: 234px;
    float: left;
}

.slide__containerText {
    width: 460px;
    height: 234px;
    float: right;
}

.slide__text {
    width: 453px;
    font-size: 1.4rem;
    float: right;
}

.slide__text:before,
.slide__text:after {
    content: '';
    position: absolute;
    top: 29px;
    left: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #e2e2e2;
    border-right: 10px solid #e2e2e2;
}

.slide__text:after {
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    top: 30px;
    left: -17px;
}

.slide__submit {
    width: 268px;
    height: 45px;
    background-image: linear-gradient(to top, #2697db 0%, #7db8f2 100%);
    float: right;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    border: 0;
    outline: none;
}

.slide__submit:active {
    box-shadow: 0 0 7px #999;
}

.comments {
    width: 412px;
    height: 271px;
    position: relative;
    background: url(img/comments.jpg) no-repeat;
}

.comments:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 11px;
    left: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.wrap-comments {
    justify-content: space-around;
}

.comments:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 11px;
    right: 10px;
    width: 80%;
    height: 20%;
    box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
}

.underComments {
    width: 410px;
    font-size: 1.3rem;
    padding: 15px;
}

.underComments:before,
.underComments:after {
    content: '';
    position: absolute;
    top: -14px;
    left: 20px;
    border: 7px solid transparent;
    border-bottom: 7px solid #e2e2e2;
    border-left: 7px solid #e2e2e2;
}

.underComments:after {
    border-bottom: 7px solid #fff;
    border-left: 7px solid #fff;
    top: -11px;
    left: 21px;
}

.selectBusiness {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.direction {
    width: 93%;
    margin: 0 auto;
}

.direction__slider {
    width: 398px;
    height: 150px;
    border: 3px solid #fff;
    background-color: #fff;
    float: left;
}

.direction__description {
    width: 405px;
    font-size: 1.4rem;
    margin-bottom: 0;
    float: right;
    margin-top: 0;
}

.direction__description:before,
.direction__description:after {
    content: '';
    position: absolute;
    top: 9px;
    left: -15px;
    border: 7px solid transparent;
    border-top: 7px solid #e2e2e2;
    border-right: 7px solid #e2e2e2;
}

.direction__description:after {
    border-top: 7px solid #fff;
    border-right: 7px solid #fff;
    top: 10px;
    left: -12px;
}

.selectBusiness_btn {
    width: 159px;
    height: 26px;
    font-size: 1.2rem;
    line-height: 26px;
    margin: 11px 0 15px 0;
}

.certificate-resp {
    display: none;
}

.certificate-desk {
    display: flex;
}

.certificate {
    width: 160px;
    height: 226px;
    background: url(img/certificate_full.png) no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
    transition: transform .3s;
}

.certificate:nth-child(2) {
    margin: 0 110px 0 110px;
}

.wrap-certificate {
    justify-content: center;
}

.certificate:hover {
    transform: scale(2.4, 2.4); 
    z-index: 999;              
}

.gray_bg-wide {
    height: 324px;
    margin-bottom: 0;
}

.offer__book {
    width: 203px;
    height: 311px;
    margin-top: 5px;
    margin-left: 7px;
    background: url(img/offer_book.png) no-repeat;
}

.offer__text {
    width: 400px;
    height: 100px;
    text-align: center;
    color: #369ddf;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 112px;
}

.offer__text span {
    color: #fff;
    font-size: 2.4rem;
}

.offer__register {
    margin-top: 18px;
    margin-right: 7px;
    padding-top: 0; 
}

.offer__register:before,
.offer__register:after {
    box-shadow: none;
}

.offer__register input {
    margin-bottom: 9px;
}

.offer__register button {
    margin-top: 9px;
}

.offerRegister__counter {
    color: #747474;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin-top: 12px;
    /* отступ вместо счетчика */
    margin-bottom: 50px;
}

.footer {
    height: 140px;
    padding-top: 20px;
}

.footer > .contacts {
    margin-top: 20px;
}

.footer > .logo {
    height: 90px;
    background: url(img/justlike.png) no-repeat 80% bottom,
    url(img/logo.png) no-repeat;
}

.footer > .caption {
    width: 475px;
    height: 50px;
    font-size: 1.3rem;
    margin-top: 30px;
}

.footer > .caption > br {
    display: none;
}

#to-top {
    display: none;
    position: fixed;
    bottom: 85px;
    right: 70px;
    width: 50px;
    height: 50px;
    background: #eee url(img/to-top.png) no-repeat center top;
    background-size: contain;
    cursor: pointer;
    opacity: .5;
    border-radius: 25px;
}

/* Landscape - телефоны */

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
    a:active,
    button:active {
        -webkit-tap-highlight-color: transparent;
    }
    .header {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .logo,
    .caption,
    .contacts {
        margin: 0 auto;
    }
    .header > .caption {
        width: 90%;
        height: 100%;
        display: block;
    }
    .contacts {
        text-align: center;
    }
    .contacts span {
        display: block;
        margin: 20px 0 -10px 0;
    }
    .contact__button {
        margin: 0 auto;
        float: none;
        width: 100%;
        height: 45px;
        box-sizing: border-box;
        line-height: 42px;
    }
    .nav {
        display: none;
    }
    .nav-responsive {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        height: 240px;
        list-style-type: none;
        text-align: center;
        padding-left: 0;
        margin-top: -200px;
        transition: margin-top .3s ease;
    }
    .menu-item {
        display: block;
        width: 100%;
        padding: 0;
        background-image: linear-gradient(to top, #2697db 0%, #7db8f2 100%);
    }
    .course {
        display: none;
    }
    .wrap {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .videoContainer {
        width: 95%;
    }
    .video {
        width: 100%;
    }
    .underVideo {
        width: 100%;
    }
    .date {
        width: 65%;
        margin: 30px 0 30px 0;
    }
    .date__caption {
        width: 100%;
        height: 80px;
    }
    .date__numbers {
        width: 100%;
        height: 207px;
    }
    .registerContainer {
        width: 100%;
    }
    .register {
        width: 70%;
        margin: 0 auto;
    }
    .register__title,
    .register__notice {
        width: 210px;
    }
    .register__notice {
        font-size: 0.9rem;
    }
    .register__title {
        font-size: 1.4rem;
    }
    .gray_bg {
        height: 100%;
    }
    .gray_bg .wrap {
        width: 100%;
        padding-bottom: 20px;
        justify-content: center;
    }
    .facts {
        margin-bottom: 20px;
        width: 47%;
        text-align: center;
    }
    .facts:nth-child(1) {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        background-position: 30px center;
    }
    .facts:nth-child(2) {
        background-position: 10px center;
    }
    .facts:nth-child(3) {
        margin-left: 3%;
        background-position: 20px center;
    }
    .facts:nth-child(4) {
        background-position: 7px center;
    }
    .facts:nth-child(5) {
        margin-left: 3%;
        background-position: 15px center;
    }
    .sliderbox {
        margin-top: 0;
        width: 100%;
        height: 100%;
    }
    .slider {
        width: 100%;
        height: 100%;
    }
    .slide {
        width: 100%;
    }
    .slide > div {
        float: none;
        margin: 0 auto;
    }
    .slide__containerPhoto {
        width: 160px;
        height: 200px;
    }
    .slide__containerText {
        width: 90%;
    }
    .slide__photo {
        width: 160px;
        height: 160px;
        border-radius: 80px;
        background-position: -10px 5px;
        margin-top: 15px;
    }
    .slide__name {
        margin-top: 3px;
    }
    .slide__text {
        width: 60%;
    }
    .slide__text {
        width: 100%;
        font-size: 1.15rem;
        margin-top: 10px;
    }
    .slide__text:before,
    .slide__text:after {
        content: '';
        position: absolute;
        top: -20px;
        left: calc(47%);
        border: 10px solid transparent;
        border-bottom: 10px solid #e2e2e2;
    }
    .slide__text:after {
        border-bottom: 10px solid #fff;
        top: -19px;
    }
    .slide__submit {
        width: 200px;
        height: 40px;
        line-height: 35px;
        margin-top: 10px;
        font-size: 1.4rem;
    }
    .slick-next {
        right: 0px;
        top: 180px;
        opacity: .5;
    }
    .slick-prev {
        left: 0px;
        top: 180px;
        z-index: 1;
        opacity: .5;
    }
    .wrap-comments {
        width: 95%;
    }
    .wrap-comments div:first-child {
        margin-bottom: 20px;
    }
    .comments {
        width: 100%;
        background-size: cover;
    }
    .underComments {
        width: 100%;
        font-size: 1.15rem;
    }
    .direction {
        padding-top: 10px;
    }
    .direction__slider {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        background-color: #fafafa;
        border: 3px solid #fafafa;
    }
    .slick-arrownext {
        right: -15px;
        opacity: .5;
    }
    .slick-arrowprev {
        left: -15px;
        z-index: 1;
        opacity: .5;
    }
    .direction__description {
        font-size: 1.15rem;
        width: 100%;
    }
    .direction__description:before,
    .direction__description:after {
        content: '';
        position: absolute;
        top: -20px;
        left: calc(47%);
        border: 10px solid transparent;
        border-bottom: 10px solid #e2e2e2;
    }
    .direction__description:after {
        border-bottom: 10px solid #fff;
        top: -19px;
    }
    .selectBusiness_btn {
        font-size: 1.15rem;
    }
    .certificate-resp {
        display: flex;
    }
    .certificate-desk {
        display: none;
    }
    #certificate {
        width: 240px;
        height: 340px;
        margin: 30px auto 0 auto;
        position: relative;
    }
    .certificate {
        position: absolute;
        transition: all .3s;
        z-index: 0;
        width: 160px;
        height: 226px;
    }
    .certificate:nth-child(2) {
        margin: 0;
        top: 60px;
    }
    .certificate:before,
    .certificate:after {
        box-shadow: none;
    }
    #s1 {
        top: 0;
        left: 0;
    }
    #s2 {
        top: 60px;
        left: 40px;
    }
    #s3 {
        top: 120px;
        left: 80px;
    }
    .offer__book {
        margin-top: 20px;
    }
    .offer__text {
        font-size: 1.5rem;
        margin: 25px 0;
    }
    .offer__text span {
        color: #fff;
        font-size: 1.8rem;
    }
    .offer__register {
        width: 75%;
    }
    .offerRegister__counter {
        margin-bottom: 50px;
        /* отступ вместо счетчика */
    }
    .gray_bg-wide {
        margin-bottom: 0;
    }
    .footer {
        padding-top: 0;
    }
    .footer > .caption {
        margin: 30px 0 15px 0;
    }
    .footer > .caption > br {
        display: block;
    }
    .footer > .contacts {
        margin-bottom: 60px;
    }
    #to-top {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45px;
        border-radius: 0;
        opacity: .9;
        z-index: 999;
    }
}

/* От ландшафтного экрана телефона до потретного планшета */

@media (max-width: 767px) {}

/* От портретного планшета до ландшафтного экрана и настольных дисплеев */

@media (min-width: 768px) and (max-width: 979px) {}
